body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    padding: 5px;
    margin: 10px;
    width: 400px;
    height: 600px;
}
input[type="button"] {
    font-size: 14px;
    color: #fff;
    background-color: #f44336;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #d41326;
    text-align: center;
}
input[type="button"]:hover {
    background-color: #e44336;
}
input[type="button"]:active {
    background-color: #e44336;
    box-shadow: 0 2px #d41326;
    transform: translateY(3px);
}
input[type="button"]:focus{
    outline: 0;
}

#action {
    margin: 0 auto;
    padding: 1em 1em 0 8em;
    max-width: 768px;
    text-align: center;
    display: inline-block;
}

#summary {

}
#dashboard ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#dashboard li#history{
    float: left;
}

#dashboard li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#dashboard li a:hover {
    background-color: #111;
}

#history-table {
    padding: 1em 1em 0 0;
}

.toggle-box {
  display: none;
}

.toggle-box + label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 5px;
}

.toggle-box + label + div {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + div {
  display: block;
}

.toggle-box + label:before {
  background-color: #4F5150;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  content: "+";
  display: block;
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
}

.toggle-box:checked + label:before {
  content: "\2212";
}
